body{
    background-color: #efefef!important;
}

@font-face {
    font-family: 'Bellota-LightItalic';
    src: url('../font/Bellota-LightItalic.otf');
}

@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('../font/Bellota-BoldItalic.otf');
}


.logo {
    color: white;
    font-size: 30px;
    line-height: 40px;
    margin-left: 8%;
    width: 30%;
    position: absolute;
}

.logo a {
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-decoration: none;
    color: white;
}

.logo_img {
    width: 35px;
    height: 35px;
    margin: 2px;
}

#profile_img {
    border-radius: 2px;
    border: 0px;
    padding-right: 0px;
    width: 28px;
    height: 28px;
    margin-top: -6px;
    opacity: 0.95;
}

#profile_img:hover {
    opacity: 1;
}

#arrow_icon {
    margin-left: 5px;
    margin-right: 5px;
    width: 15px;
    height: 12px;
    opacity: 0.8;
}

#arrow_icon:hover {
    opacity: 1;
}
